@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1em;
}

table {
  border-spacing: 1px;
  margin: 20px auto 20px auto;
}

table td {
  height: 32px;
  width: 32px;
  text-align: center;
  cursor: default;
  user-select: none;
}

.reset {
  background-color: rgb(240, 240, 0);
  height: 45px;
  line-height: 45px;
  margin: 10px 2px 0 2px;
  padding: 0 10px;
  text-align: center;
  width: 55px;
  cursor: pointer;
  border-radius: 3px;  
  font-size: 30px;
}

.won {
  background-color: rgba(0, 155, 0, 0.8);
}

.lost {
  background-color: rgba(255, 0, 0, 0.8);
}

.flagged {
  color: Red;
}

.counter {
  background-color: #fff;
  height: 45px;
  line-height: 45px;
  margin: 10px 2px 0 2px;
  padding: 0 10px;
  text-align: center;
  width: 75px;
  border-radius: 3px;  
  border: 1px solid #888;
}

.level {
  background-color: LightGray;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 10px;
  text-align: center; 
  cursor: pointer;
  font-size: .8em;
  width: 90px;
  border-radius: 3px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.levels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.covered {
  background-color: #333;
}

.uncovered {
  background-color: LightGray;
}

.lose-mine {
  background-color: Red;
}